streamlit
pandas
numpy
joblib
matplotlib
reportlab
smtplib-client
email-validator
base64
time
seaborn
io
plotly.express
shap
sklearn
xgboost
lightgbm
catboost
fastapi
uvicorn
jinja2